.section-splitter {
    width: 100%;
    height: 2px;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      #000000 20%,
      #000000 80%,
      rgba(255, 255, 255, 0) 100%
    );
    margin: 4rem 0;
  }